@font-face {
  font-family: Belanosima;
  src: url(../fonts/Belanosima/Belanosima-Regular.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik/static/Rubik-Regular.ttf);
}
@font-face {
  font-family: Ploni;
  src: url(../fonts/Ploni/PloniRegular.woff);
}
/* Breakpoint mixins */
/* Media  Mixins */
.fs12 {
  font-size: rem(12px);
}

.fs14 {
  font-size: rem(14px);
}

.fs18 {
  font-size: rem(18px);
}

.fs20 {
  font-size: rem(20px);
}

.fs24 {
  font-size: rem(24px);
}

.fs28 {
  font-size: rem(28px);
}

.fs30 {
  font-size: rem(30px);
}

.flex {
  display: flex;
}
.flex > *.full {
  flex: 1;
}
.flex.column {
  flex-direction: column;
}
.flex.justify-center {
  justify-content: center;
}
.flex.align-center {
  align-items: center;
}

.square-ratio {
  position: relative;
  overflow: hidden;
}
.square-ratio::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.square-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.square-ratio > img {
  height: 100%;
  object-fit: cover;
}

.video-ratio {
  position: relative;
  overflow: hidden;
}
.video-ratio::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.video-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.video-ratio > img {
  height: 100%;
  object-fit: cover;
}

.portrait-ratio {
  position: relative;
  overflow: hidden;
}
.portrait-ratio::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 177.7777777778%;
}
.portrait-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.portrait-ratio > img {
  height: 100%;
  object-fit: cover;
}

.main-container {
  background-color: rgba(45, 144, 89, 0.08);
  display: grid;
  grid-template-columns: 300px 1fr 300px 70px;
  grid-template-areas: "space-left  main-body  space-right navbar";
  transition: all 0.3s;
  width: 100%;
}
.main-container > * {
  grid-area: main-body;
}
.main-container > *.full {
  grid-area: space-left/space-right;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: mediumseagreen;
  color: #fff;
}

html {
  font-family: montserrat;
  line-height: 1.6;
  color: #4f3a65;
  lang: he;
}

body {
  font-size: rem(18px);
  margin: auto !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ploni;
  margin: 0 0 0.6em;
  line-height: 1;
}

input {
  text-align: right;
}

section, main, footer {
  padding: 5px;
}

p {
  margin: 0 0 1em;
}

.loader {
  height: 100px;
  position: absolute;
  top: 70%;
  left: 48.3%;
  transform: translate(-50%, -50%);
}

.loader-wrap {
  height: 100vh;
}

button {
  border: 0;
  background-color: #ce2e6c;
  color: whitesmoke;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

form > * {
  text-align: right;
}

.btn-link {
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  transition: 0.5s;
}

.btn-link:hover {
  background-color: #ce2e6c;
  transform: scale(1.1);
}

.fancy-box {
  background-color: gold;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.split-pane > div {
  transition: 0.5s;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
  transform: scale(1.3);
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transform: scale(1);
  transition: all 300ms ease-in;
}

.proj-preview {
  background-color: teal;
  color: whitesmoke;
  padding: 5px;
  margin: 3px;
}

.home-page {
  margin-block-start: 10px;
  text-align: right;
  font-family: Ploni;
}
.home-page h1 {
  font-family: Ploni;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  color: white;
  cursor: pointer;
}
.home-page h2 {
  font-weight: bold;
  text-align: center;
  font-size: 2.8rem;
}
.home-page p {
  padding: 45px;
}
.home-page button {
  border-radius: 0.9rem !important;
  margin: 0 2px !important;
}
.home-page input {
  border-radius: 0.9rem !important;
  margin: 0 2px !important;
}
.home-page input::placeholder {
  color: grey !important;
  opacity: 0.7 !important;
}
.home-page .cover {
  padding: 45px;
}
.home-page .main-intro {
  background: #033841;
  border-radius: 4% 8% 4% 8%/68px;
}
.home-page .frame {
  background-color: white;
  border-radius: 0.99rem;
  border: rgba(60, 179, 113, 0.4117647059) 1px solid;
  margin: 15px auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.home-page .cards-wrapper {
  align-items: center;
  justify-content: center;
}
.home-page .card {
  border-radius: 0.9rem;
  width: 16%;
  font-family: Ploni;
  text-align: center;
  vert-align: middle;
  border: rgba(60, 179, 113, 0.4117647059) 1px solid;
  transition: all 0.7s;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.home-page .card a {
  color: black;
  text-decoration: none;
}
.home-page .card:hover {
  background-color: mediumseagreen;
  color: white;
}
.home-page .card:hover a {
  color: white;
}
.home-page .card h5 {
  font-size: 1.5rem;
  font-weight: 600;
}
.home-page .main-search-input {
  width: 75.5%;
  margin: 15px auto;
}
.home-page .main-search-input .dropdown-toggle .btn {
  border-radius: 0.9rem;
}
.home-page .funds-container h4 {
  text-align: center;
  margin-top: 30px;
  font-size: 2rem;
}
.home-page .funds-container .funds-performance {
  flex-wrap: wrap;
}

.review-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.review-list li {
  background-color: #4f3a65;
  color: #fff;
  padding: 5px;
  margin: 5px;
}
.review-list a {
  color: #ce2e6c;
  padding: 10px;
}
.review-list h3 {
  background-color: #ddd;
  padding: 10px 5px;
  margin: 5px;
}

.user-details .user-img {
  height: 200px;
  width: 200px;
  background-size: contain;
}

.login-signup {
  text-align: right;
  height: 98.9vh;
  margin-top: 100px;
}

.app-footer {
  background-color: #111;
  color: #95adbe;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.user-msg {
  color: white;
  padding: 10px;
  font-size: 1.4em;
  position: fixed;
  top: 0;
  right: 0;
  background-color: grey;
}

.user-msg button {
  float: right;
  border: 0;
  border-radius: 50%;
  margin: 5px;
  background-color: #222;
}

.user-msg.success {
  background-color: rgb(41, 189, 73);
}

.user-msg.error {
  background-color: rgb(216, 59, 59);
}

.side-nav {
  position: fixed;
  right: 0;
  width: 70px;
  grid-area: navbar;
  background: #033841;
  border-radius: 50px 15px 30px;
  height: 97vh;
  margin-top: 10px;
  padding: 29px 7px;
  font-family: ploni;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  transition: all 0.3s;
}
.side-nav .nav-link:focus, .side-nav .nav-link:hover {
  color: mediumseagreen;
}
.side-nav a {
  display: block;
  text-align: center;
  color: #033841;
}
.side-nav .side-nav-link {
  padding-bottom: 20px;
  color: white;
}
.side-nav .side-nav-link:hover {
  text-decoration: none;
  color: mediumseagreen;
}
.side-nav .side-nav-link:hover .cash {
  background: url("../../img/green/cash.svg") no-repeat center;
  background-size: cover;
}
.side-nav .side-nav-link:hover .box-arrow-in-right {
  background: url("../../img/green/box-arrow-in-right.svg") no-repeat center;
  background-size: cover;
}
.side-nav .side-nav-link:hover .chart {
  background: url("../../img/green/chart.svg") no-repeat center;
  background-size: cover;
}
.side-nav .side-nav-link:hover .chart-up {
  background: url("../../img/green/chart-up.svg") no-repeat center;
  background-size: cover;
}
.side-nav .side-nav-link:hover .coins-up {
  background: url("../../img/green/coins-up.svg") no-repeat center;
  background-size: cover;
}
.side-nav .side-nav-link:hover .doc {
  background: url("../../img/green/doc.svg") no-repeat center;
  background-size: cover;
}
.side-nav .side-nav-link:hover .wallet {
  background: url("../../img/green/wallet.svg") no-repeat center;
  background-size: cover;
}
.side-nav .icon {
  background-size: cover;
  height: 24px;
  width: 24px;
  margin: 3px auto;
}
.side-nav .icon.cash {
  background: url("../../img/white/cash.svg") no-repeat center;
  background-size: cover;
}
.side-nav .icon.box-arrow-in-right {
  background: url("../../img/white/box-arrow-in-right.svg") no-repeat center;
  background-size: cover;
}
.side-nav .icon.chart {
  background: url("../../img/white/chart.svg") no-repeat center;
  background-size: cover;
}
.side-nav .icon.chart-up {
  background: url("../../img/white/chart-up.svg") no-repeat center;
  background-size: cover;
}
.side-nav .icon.coins-up {
  background: url("../../img/white/coins-up.svg") no-repeat center;
  background-size: cover;
}
.side-nav .icon.doc {
  background: url("../../img/white/doc.svg") no-repeat center;
  background-size: cover;
}
.side-nav .icon.wallet {
  background: url("../../img/white/wallet.svg") no-repeat center;
  background-size: cover;
}
.side-nav .icon-link {
  margin: 0 auto 2px auto;
  height: 24px;
  width: 24px;
}
.side-nav .icon-link::selection {
  color: mediumseagreen;
}
.side-nav .icon-link:active {
  color: white;
}
.side-nav .logo {
  height: 55px;
  margin-block-end: -15px;
}
.side-nav .main-title {
  font-family: Ploni;
  margin-top: 4px !important;
  font-weight: 500;
  color: mediumseagreen;
  font-size: 1.19rem;
}

table {
  font-family: "Assistant";
  font-size: 0.8rem;
  margin: 15px auto;
  max-width: 31.5%;
  border-radius: 0.9rem !important;
  overflow: hidden !important;
  border: transparent !important;
  text-align: center;
  vertical-align: middle;
}
table a {
  display: block;
  text-align: center;
  color: #3cb371;
}
table td {
  text-align: center;
  vertical-align: middle;
}

h4 {
  text-decoration: underline;
}

h5, h6 {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}

.calculator h2 {
  margin-block-start: 30px;
}
.calculator button {
  margin-block-start: 10px !important;
  margin-block-end: 20px !important;
}
.calculator input {
  margin-block-end: 20px !important;
}
.calculator .form-wrap {
  width: 45vw;
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
