// Setup
@font-face {
  font-family: Belanosima;
  src: url(../fonts/Belanosima/Belanosima-Regular.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik/static/Rubik-Regular.ttf);
}
@font-face {
  font-family: Ploni;
  src: url(../fonts/Ploni/PloniRegular.woff);
}

@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/links";
@import "basics/forms";

// Views
@import "views/about-us";
@import "views/home-page";
@import "views/review-app";
@import "views/user-details";
@import "views/login-signup";

// Components
@import "cmps/app-header";
@import "cmps/app-footer";
@import "cmps/user-msg";
@import "cmps/side-nav";
@import "cmps/fund-tables";
@import "cmps/calculator";






