@font-face {
     font-family: Belanosima;
     src: url(../../fonts/Belanosima/Belanosima-Regular.ttf);
}
@font-face {
     font-family: Rubik;
     src: url(../../fonts/Rubik/static/Rubik-Regular.ttf);
}


